<%= form_for(@trainer) do |f| %>
  <% if @trainer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trainer.errors.count, "error") %> prohibited this trainer from being saved:</h2>

      <ul>
      <% @trainer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :company %><br>
      <%= f.collection_select(:company_id, Company.all, :id, :name) %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :tel %><br>
      <%= f.text_field :tel %>
    </div>
    <div class="field">
      <%= f.label :sex %><br>
      남 <%= f.radio_button :sex,1 %>
      여 <%= f.radio_button :sex,2 %>
    </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
