<p id="notice"><%= notice %></p>
<p>
  <strong>Company:</strong>
  <%= get_company_name @trainer.company_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @trainer.tel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @trainer.email %>
</p>

<p>
  <strong>Sex:</strong>
  <%= (@trainer.sex == 1 ? '남':'여') %>
</p>
<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
