<p id="notice"><%= notice %></p>

<p>
  <strong>Is delete:</strong>
  <%= @token.is_delete %>
</p>

<p>
  <strong>User:</strong>
  <%= @token.user %>
</p>

<p>
  <strong>Device token:</strong>
  <%= @token.device_token %>
</p>

<p>
  <strong>Access token:</strong>
  <%= @token.access_token %>
</p>

<%= link_to 'Edit', edit_token_path(@token) %> |
<%= link_to 'Back', tokens_path %>
